.DS_Store
.RData
.Rhistory
*out
*log
*trees
*.xml
*.fasta
*.tree
*.reassortment
*.nexus
*.asv
*.bionj
*.ckp.gz
*.mldist
*.parstree
*.treefile
*.uniqueseq.phy
*dates.csv
*regression.pdf
*molecular_clock.txt
*outliers.tsv
*sampling.png
*sampling.pdf
*iqtree
*.csv
*.png
*.zip
